<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wallee.android.till.sample.till">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.wallee.android.TILL_APPLICATION" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckApiServiceCompatibilityActivity" />
        <activity android:name=".AuthorizeTransactionActivity" />
        <activity android:name=".TransactionResponseActivity" />
        <activity android:name=".CancelLastTransactionOperationActivity" />
        <activity android:name=".CancelationResultActivity" />
        <activity android:name=".CompleteTransactionActivity" />
        <activity android:name=".TransactionCompletionResponseActivity" />
        <activity android:name=".VoidTransactionActivity" />
        <activity android:name=".TransactionVoidResponseActivity" />
        <activity android:name=".ExecuteSubmissionActivity" />
        <activity android:name=".SubmissionResultActivity" />
        <activity android:name=".ExecuteTransmissionActivity" />
        <activity android:name=".TransmissionResultActivity" />
        <activity android:name=".ExecuteFinalBalanceActivity" />
        <activity android:name=".FinalBalanceResultActivity" />
        <activity android:name=".GeneratePanTokenActivity" />
        <activity android:name=".GeneratePanTokenResponseActivity" />
        <activity
            android:name=".PinpadInformationResponseActivity"
            android:exported="false" />
        <activity
            android:name=".PinpadInformationActivity"
            android:exported="false" />
    </application>

</manifest>