<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <package android:name="com.wallee.android.pinpad" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DeepLinkRequestActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".DeepLinkResponseActivity"
            android:exported="true">
            <intent-filter android:label="WalleeDeepLink">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="v1"
                    android:scheme="link"
                    android:pathPattern="/response"/>
            </intent-filter>
        </activity>

        <service
            android:name=".ServiceTransaction"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.wallee.android.TILL_APPLICATION" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckApiServiceCompatibilityActivity" />
        <activity android:name=".AuthorizeTransactionActivity" />
        <activity android:name=".TransactionResponseActivity" />
        <activity android:name=".CancelLastTransactionOperationActivity" />
        <activity android:name=".CancellationResultActivity" />
        <activity android:name=".CompleteTransactionActivity" />
        <activity android:name=".TransactionCompletionResponseActivity" />
        <activity android:name=".VoidTransactionActivity" />
        <activity android:name=".TransactionVoidResponseActivity" />
        <activity android:name=".ExecuteSubmissionActivity" />
        <activity android:name=".SubmissionResultActivity" />
        <activity android:name=".ExecuteTransmissionActivity" />
        <activity android:name=".TransmissionResultActivity" />
        <activity android:name=".ExecuteFinalBalanceActivity" />
        <activity android:name=".FinalBalanceResultActivity" />
        <activity android:name=".GeneratePanTokenActivity" />
        <activity android:name=".GeneratePanTokenResponseActivity" />
        <activity android:name=".ExecuteConfigurationActivity" />
        <activity android:name=".ExecuteInitialisationActivity" />
        <activity android:name=".ConfigurationResultActivity" />
        <activity android:name=".InitialisationResultActivity" />
        <activity android:name=".TerminalConfigurationDataActivity" />
        <activity android:name=".TerminalConfigurationDataResponseActivity" />
        <activity android:name=".GetCustomConfigurationActivity"/>
        <activity android:name=".GetCustomConfigurationResponseActivity"/>
        <activity android:name=".ReprintReceiptActivity"/>
        <activity android:name=".ReprintReceiptResponseActivity"/>
        <activity
            android:name=".PinpadInformationResponseActivity"
            android:exported="false" />
        <activity
            android:name=".PinpadInformationActivity"
            android:exported="false" />
    </application>

</manifest>